@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #E33B25;
  margin-top: 2rem;
  padding: 3rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  display: flex; flex-direction: column;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 0.2rem;
  /* margin-bottom: 2rem; */
  width: 402px;
  color: #d1887e;
}

.todo-input::placeholder{
 color: #d1887e;
} 

.due-priority-container {
  display: flex; 
  justify-content: space-between; 
  gap: 2px;
}

.due-priority-container .todo-input {
  flex: 0 0 200px; 
  max-width: 200px; 
}

.due-priority-container .todo-input:last-child {
  margin-right: 0; 
  color: #ee8166;
}

.todo-btn {
  background:#fff;
  color: #E33B25;
  font-weight: bold;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: 0.2s ease;
}

.todo-btn:hover{
  opacity: 80%;
}

.category-buttons button {
  background: #fff;
  color: #E33B25;
  border: 1px solid #E33B25;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.category-buttons button:hover {
  background: #E33B25;
  color: #fff;
}

.category-buttons button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(227, 59, 37, 0.5);
  transform: scale(1.02);
}

.category-buttons button.active {
  background: #d1887e;
  color: #fff;
}

.Todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #e3f2fd; 
  color: #E33B25; 
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  max-width: 400px;
  cursor: pointer;
}

.Todo.completed {
  background: #4a4a4a; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  text-decoration: line-through;
  color: #fff; 

}

.todo-information {
  display: flex;
  flex-direction: column;
}

.todo-description {
  transition: max-height 0.3s ease; 
  font-size: 0.8rem;
}

.todo-extra-informations{
  display: flex;
  gap: 20px;
  font-size: 0.7rem;
  color: #ec6f5e;
}

.show-more-btn {
  background: none;
  color: #E33B25;
  border: none;
  cursor: pointer;
  margin: 0.5rem 0;
  text-decoration: underline; 
  font-size: 0.9rem; 
}


.incompleted {
  color: #fff;
  cursor: pointer;
}


.edit-icon,
.delete-icon {
  margin-left: 0.5rem;
}
 